@page
@model Goblin.WebApp.Pages.Schedule.Show

@{
    ViewData["Title"] = "Расписание";
}

@if(!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <h1 class="text-danger">Ой-ой.</h1>
    <h4 class="text-danger">При выполнении вашего запроса произошла ошибка.</h4>
    <p>@Model.ErrorMessage</p>
    return;
}

<h4>@Model.GroupTitle</h4>

<div class="dropdown pb-2">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        Дополнительно
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="@Model.ScheduleLink">Скачать файл (.ics)</a>
        <a class="dropdown-item" href="@Model.WebcalLink">Добавить в календарь</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">А больше пока ничего нет...</a>
    </div>
</div>

<ul class="nav nav-pills mb-3">
    @foreach(var (key, value) in Model.Lessons)
    {
        <li>
            <a class="nav-link" data-toggle="pill" href="#d@(value.First().StartTime.DayOfYear)">@key</a>
        </li>
    }
</ul>

<div class="tab-content">
    @foreach(var (_, value) in Model.Lessons)
    {
        <div id="d@(value.First().StartTime.DayOfYear)" class="tab-pane fade">
            <div class="row no-gutters">
                @foreach(var days in value.GroupBy(x => x.StartTime.DayOfWeek))
                {
                    <div class="col-lg-2">
                        <div class="mx-1">
                            <div class="dayofweek">
                                @days.First().StartTime.ToString("dddd, dd.MM.yyyy")
                            </div>
                            @foreach(var lesson in days)
                            {
                                if(lesson.Number != 0)
                                {
                                    await Html.RenderPartialAsync("_Lesson", lesson);
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section NarfuStyles
{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/narfu.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/narfu.min.css" asp-append-version="true"/>
    </environment>
}