@using Narfu
@model List<Goblin.Data.Models.User>
<h2>Список пользователей <span class="badge badge-secondary">51</span></h2>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Vk ID</th>
        <th>Admin?</th>
        <th>Group</th>
        <th>Schedule?</th>
        <th>Weather?</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var user in Model)
    {
        var url = $"https://vk.com/id{user.Vk}";
        var gr = StudentsSchedule.GetGroupByRealId(user.Group);
        var group = gr?.SiteId ?? 0;
        var grName = gr is null ? "" : gr.Name;
        <tr>
            <td>@user.Id</td>
            <td>
                <a href="@url" target="_blank">@user.Vk</a>
            </td>
            <td>@user.IsAdmin</td>
            <td>
                @if(group != 0)
                {
                    <a href="https://ruz.narfu.ru/?timetable&group=@group" target="_blank">@user.Group</a>
                    <p>@grName</p>
                }
                else
                {
                    <p>Группа не установлена</p>
                }
            </td>
            <td>@user.Schedule</td>
            <td>@user.Weather</td>
            <td>@user.City</td>
        </tr>
    }
    </tbody>
</table>