@page
@model Goblin.WebApp.Areas.Admin.Pages.CronJobs.Delete

@if(Model.CronJob is null)
{
    <div class="alert alert-danger" role="alert">
        CronJob не найдена
    </div>
    return;
}

@{
    ViewData["Title"] = $"Удаление Cron";
}

<h2>@ViewData["Title"]</h2>
<hr/>

<div class="col-md-3">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <td>ID</td>
            <td>@Model.CronJob.Id</td>
        </tr>
        <tr>
            <td>Название</td>
            <td>@Model.CronJob.Name</td>
        </tr>
        <tr>
            <td>ID чата</td>
            <td>@Model.CronJob.ChatId</td>
        </tr>
        <tr>
            <td>Куда</td>
            <td>@Model.CronJob.ConsumerType</td>
        </tr>
        <tr>
            <td>Что</td>
            <td>@Model.CronJob.CronType</td>
        </tr>
        <tr>
            <td>Группа</td>
            <td>@Model.CronJob.NarfuGroup</td>
        </tr>
        <tr>
            <td>Город</td>
            <td>@Model.CronJob.WeatherCity</td>
        </tr>
        <tr>
            <td>Текст</td>
            <td>@Model.CronJob.Text</td>
        </tr>
        <tr>
            <td>Время</td>
            <td>@Model.CronJob.Time.ToString()</td>
        </tr>
        </tbody>
    </table>

    <form asp-area="Admin" asp-page="./Delete" asp-route-id="@Model.CronJob.Id" method="post">
        <input type="hidden" value="@Model.CronJob.Id"/>
        <button type="submit" class="btn btn-danger btn-block">Удалить</button>
    </form>
</div>