@model Goblin.Narfu.Models.Lesson;
@{

    string GetCssStyle()
    {
        var type = Model.Type?.ToLower();
        if(string.IsNullOrWhiteSpace(type))
        {
            return "transparent d-none d-sm-block";
        }

        if(type == "лекции")
        {
            return "green";
        }
        if(type == "лабораторные занятия")
        {
            return "blue";
        }
        if(type == "практические занятия")
        {
            return "yellow";
        }
        if(type == "консультация")
        {
            return "orange";
        }
        if(Model.IsExam())
        {
            return "red";
        }

        return "transparent d-none d-sm-block";
    }

}

<div class="timetable_sheet @GetCssStyle()">
    <span class="num_para">
        @Model.Number
    </span>
    @if(!string.IsNullOrEmpty(Model.Type))
    {
        <span class='time_para'>
            @Model.StartEndTime
        </span>
        <span class='kindOfWork'>
            @Model.Type
        </span>
        <span class='discipline'>
            @Model.Name (@Model.Teacher)
        </span>
        <span class='group'>
            @Model.Groups
        </span>
        <span class='auditorium'>
            <b>ауд. @Model.Auditory</b> @Model.Address
        </span>
    }
</div>