@model Dictionary<string, List<Goblin.Models.Lesson>>
<head>
    <title>Расписание</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sched.css"/>
    <script src="~/js/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            @foreach (var group in Model)
            {
                <li><a data-toggle="tab" href="#@group.Value.First().Time.ToBinary()">@group.Key</a></li>
            }
        </ul>

        <div class="tab-content">
            @foreach (var group in Model)
            {
                <div id="@group.Value.First().Time.ToBinary()" class="tab-pane fade">
                    @foreach (var days in group.Value.GroupBy(x => x.Time.DayOfWeek))
                    {
                        <div class="col-md-2">
                            <p>@days.First().Time.ToString("dd.MM.yyyy")</p>
                            @foreach (var lesson in days)
                            {
                                <div class="row box">
                                    <p>@lesson.StartEndTime</p>
                                    <p class="type">@lesson.Type</p>
                                    <p>@lesson.Name <h6>(@lesson.Teacher)</h6></p>
                                    <p>@lesson.Groups</p>
                                    <p>@lesson.Address</p>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</body>