@model Goblin.Narfu.Models.Lesson;
@{
    string GetCssStyle()
    {
        const string transparent = "bg-light";
        if(string.IsNullOrWhiteSpace(Model.Type))
        {
            return transparent;
        }

        if(Model.Type.Equals("лекции", StringComparison.OrdinalIgnoreCase))
        {
            return "green";
        }
        if(Model.Type.Equals("лабораторные занятия", StringComparison.OrdinalIgnoreCase))
        {
            return "blue";
        }
        if(Model.Type.Equals("практические занятия", StringComparison.OrdinalIgnoreCase))
        {
            return "yellow";
        }
        if(Model.Type.Equals("консультация", StringComparison.OrdinalIgnoreCase))
        {
            return "orange";
        }
        return Model.IsExam() ? "red" : transparent;
    }

}

<div class="card mb-3 @GetCssStyle() timetable_sheet">
    @if(!string.IsNullOrEmpty(Model.Type))
    {
        <div class="card-header">
            <span class="badge badge-light">@Model.Number</span>
            &nbsp;
            <span class="badge badge-light">@Model.StartEndTime</span>
        </div>
        <div class="card-body">
            <small class="card-text">@Model.Type</small>
            <h5>@Model.Name</h5>
            <small class="card-text text-capitalize">@Model.Teacher</small>
            <hr/>
            <p class="card-text font-italic">@Model.Groups</p>
        </div>
        <div class="card-footer">
            <p>
                <b>ауд. @Model.Auditory</b> @Model.Address
            </p>
            @if(!string.IsNullOrEmpty(Model.Link))
            {
                <b>
                    <a href="@Model.Link">Ссылка на курс</a>
                </b>
            }
        </div>
    }
</div>