@model Goblin.Domain.Entities.Remind[];

@{
    ViewData["Title"] = "Список напоминаний";
    Layout = "_Layout";
}

<h2>
    @ViewData["Title"] <span class="badge badge-secondary">@ViewData["count"]</span>
</h2>
<a class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AddRemind">Добавить напоминание</a><br/><br/>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Vk ID</th>
        <th>Text</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var remind in Model)
    {
        <tr>
            <td>@remind.Id</td>
            <td>@remind.BotUserId</td>
            <td>@remind.Text</td>
            <td>@remind.Date.ToString("G")</td>
        </tr>
    }
    </tbody>
</table>