@page
@using Goblin.Domain
@model Goblin.WebApp.Areas.Admin.Pages.Reminds.Add

@{
    ViewData["Title"] = "Добавление напоминания";
}

@if(!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-3">
        <form method="post">
            <div class="mb-3 form-floating">
                <input type="number" class="form-control" name="chatId" placeholder="ID" required="">
                <label>ID</label>
            </div>
            <div class="mb-3 form-floating">
                <select class="form-control" name="consumerType">
                    <option value="@((int) ConsumerType.Vkontakte)">@ConsumerType.Vkontakte</option>
                    <option value="@((int) ConsumerType.Telegram)">@ConsumerType.Telegram</option>
                </select>
                <label>Куда отправить</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="text" placeholder="text" required="">
                <label>Текст</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="date" class="form-control" name="dateStr" required="">
                <label>Дата</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="time" class="form-control" name="timeStr" required="">
                <label>Время</label>
            </div>
            <button type="submit" class="btn btn-warning">Отправить</button>
        </form>
    </div>
</div>