@page
@model Goblin.WebApp.Areas.Admin.Pages.CronJobs.Index
@{
    ViewData["Title"] = "Cron задачи";
}

<h2>@ViewData["Title"]</h2>
<hr/>

<a class="btn btn-success" asp-area="Admin" asp-page="Create">Добавить</a>
<hr/>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>ID чата</th>
        <th>Куда</th>
        <th>Что</th>
        <th>Группа</th>
        <th>Город</th>
        <th>Текст</th>
        <th>Время</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(var job in Model.CronJobs)
    {
        <tr>
            <td>@job.Id</td>
            <td>@job.Name</td>
            <td>@job.ChatId</td>
            <td>@job.ConsumerType</td>
            <td>@job.CronType</td>
            <td>@job.NarfuGroup</td>
            <td>@job.WeatherCity</td>
            <td>@job.Text</td>
            <td>@job.Time.ToString()</td>
            <td>
                <a class="btn btn-danger" asp-area="Admin" asp-page="/CronJobs/Delete" asp-route-id="@job.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>