@page
@using Goblin.Domain
@model Goblin.WebApp.Areas.Admin.Pages.Messages.Index
@{
    ViewData["Title"] = "Отправка сообщений";
}

<h2>@ViewData["Title"]</h2>
<hr/>

<div class="row">
    <div class="col-md-3">
        <form method="post" asp-page-handler="SendToAll">
            <h3>Рассылка всем</h3>
            <div class="mb-3 form-floating">
                <select class="form-control custom-select" name="type" required="">
                    <option disabled="" selected="">...</option>
                    <option value="@((int)ConsumerType.Vkontakte)">@ConsumerType.Vkontakte</option>
                    <option value="@((int)ConsumerType.Telegram)">@ConsumerType.Telegram</option>
                    <option value="@((int)ConsumerType.AllInOne)">Отправить всем-всем-всем</option>
                </select>
                <label>Куда отправлять</label>
            </div>
            <div class="mb-3 form-floating">
                <textarea class="form-control message-all" name="msg" placeholder="Сообщение" required=""></textarea>
                <label>Сообщение</label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="keyboardCheck" name="isSendKeyboard">
                <label class="form-check-label" for="keyboardCheck">
                    Отправить стандартную клавиатуру?
                </label>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-danger">Отправить</button>
                <button id="add-attach-all" type="button" class="btn btn-secondary" onclick="appendAttach(true)">Добавить аттач</button>
            </div>
            <div class="form-group">
                <label>Прикрепления</label>
                <div class="input-group mb-3" id="attachments-all">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 offset-md-2">
        <form method="post" asp-page-handler="SendToId">
            <h3>Письмо одному</h3>
            <div class="mb-3 form-floating">
                <select class="form-control custom-select" name="type" required="">
                    <option disabled="" selected="">...</option>
                    <option value="@((int)ConsumerType.Vkontakte)">@ConsumerType.Vkontakte</option>
                    <option value="@((int)ConsumerType.Telegram)">@ConsumerType.Telegram</option>
                </select>
                <label>Куда отправлять</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="number" class="form-control user-id" name="chatId" placeholder="ID" required="">
                <label>ID чата</label>
                <small class="form-text text-muted">2000000001 для бесед</small>
            </div>
            <div class="mb-3 form-floating">
                <textarea class="form-control message-one" name="msg" placeholder="Сообщение" required=""></textarea>
                <label>Сообщение</label>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-danger">Отправить</button>
                <button id="add-attach-one" type="button" class="btn btn-secondary" onclick="appendAttach(false)">Добавить аттач</button>
            </div>
            <div class="form-group">
                <label>Прикрепления</label>
                <div class="input-group mb-3" id="attachments-one">
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js"></script>
    </environment>
}